* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #63096e;
}

.container {
    background: linear-gradient(160deg, rgba(45, 152, 194, 0.842), rgba(0, 0, 0, 0.24));
    color: #fff;
    width: 800px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgb(0,0,0, 1);
}
.container .input-field {
    z-index: -999;
    opacity: 0;
    position: absolute;
  }
.content-box .text-of-typing {
    max-height: 255px;
    max-width: 600px;
    overflow-y: auto;
}
.content-box .text-of-typing::-webkit-scrollbar {
    width: 0;
}
.content-box .text-of-typing p {
    text-align: justify;
    font-size: 23px;
    letter-spacing: 1px;
    word-break: break-all;
}
.content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-box .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 17%;
    text-align: center;
    line-height: 32px;
}
.content .result {
    padding: 19px;
    border-radius: 10px;
    background: linear-gradient(160deg, rgb(37, 226, 62), rgb(35, 82, 33));
    display: block;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgb(0,0,0, 1);
}
.content .result li {
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.content .result li:last-child {
    border-bottom: none;
}

.result li.time,
.result li.errors,
.result li.wpm,
.result li.cpm {
    font-size: 17px;
}
.result li.time p,
.result li.errors p, 
.result li.wpm p,
.result li.cpm p{
    font-weight: 600;
}

.container button {
    width: 71%;
    position: absolute;
    height: 17%;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(160deg, rgb(226, 138, 37), rgb(82, 33, 33));
}
.container button:hover {
    background: rgb(0, 122, 85);
}


.text-of-typing p span.correct {
    color: rgb(15, 235, 15);
}
.text-of-typing p span.incorrect {
    color: rgb(236, 25, 25);
}

.text-of-typing p span.active {
    color: #979494;
}
.text-of-typing p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #9af902;
    animation: blink 1s ease-in-out infinite;
    opacity: 0;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.text-of-typing p span {
    position: relative;
}
